.App {
    text-align: center;
    background-color: #020236
  }
  .app__form {
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #ebe9ea;
    width: 100%;
    margin-top: 10px;
  }
  .app__formControl {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  .spacer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-right: 50px;
  }